<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/admin.css">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Admin</title>
</head>

<body>
  <%- include("adminNavbar") -%>

    <div class="container-lg bg-white px-4 py-2 mx-auto rounded-top" style="width: 100%;">
      <div class="row mt-3">
        <div class="col-md-2 mt-1">
          <a href="/admin/add" class="btn btn-success col-12">
            + Add Item
          </a>
        </div>
        <div class="col-md-10 mt-1">
          <form action="/admin" class="input-group" method="GET">
            <input class="form-control" type="text" name="title" autocomplete>
            <button class="btn btn-outline-primary" type="submit" id="btnSearch">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </button>
          </form>
        </div>
      </div>
      <% if(userLink.length){ userLink.forEach((user, index)=> {%>
        <section class="py-3">
          <!-- #MENU -->
          <div class="row justify-content-evenly mb-3">
            <div class="col-md-12 col-xl-12">
              <div class="card shadow border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4 col-md-4 col-lg-2 col-xl-2 mb-4 mb-lg-0">
                      <div class="thumbnail">
                        <img src="<%= user.Links.Image %>" class="thumb-post img img-responsive full-width rounded" />
                      </div>
                    </div>
                    <div class="col-8 col-md-8 col-lg-8 col-xl-8 my-auto">
                      <!-- Judul -->
                      <h2>
                        <%= user.Links.Title %>
                      </h2>
                      <!-- HARGA -->
                      <h6>Price :
                        <% if(user.Links.Price.Value){ %>
                          <b>
                            <%= user.Links.Price.Currency%>
                              <%= user.Links.Price.Value %>
                          </b>
                          <% } else {%>
                            <b>-</b>
                            <% } %>
                      </h6>
                      <!-- URL -->
                      <h6>URL:
                        <a target="_blank" rel="noopener noreferrer" href="<%= user.Links.URL %>>">
                          <%= user.Links.URL %>
                        </a>
                      </h6>
                    </div>
                    <div class="col-12 col-lg-2 col-xl-2 my-auto">
                      <input class="btn btn btn btn-outline-primary w-100" type="button" style=""
                        onclick="location.href='/admin/edit/<%= id[index] %>'" value="Edit" />
                      <button class="btn btn-danger mt-2 w-100" type="submit" onclick="delData('<%= id[index] %>')">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) } else { %>
            <div class="text-center p-5">
              <h2 class="fw-bold">Data Not Found</h2>
              <p>Please kindly add a new data.</p>
            </div>
            <% } %>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
      </script>
    <script src="../static/js/admin.js"></script>
    <script src="../static/js/adminNavbar.js"></script>
</body>

</html>