<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliate Page</title>
    <link rel="stylesheet" href="/static/css/linkUser.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/font-awesome.min.css">

</head>
<body>
    <div class="user">
        <img src="<%= user.image%>" alt="">
        <h4><%= user.username %></h4>
    </div>
    <div class="container">
        <!-- Product Card -->
       
        <% user.Links.forEach(link => { %>
        <div class="card">
            <div class="image">
                <img class="resize" src="<%= link.Image %>" alt="Hat">
            </div>
            <div class="content">
                <h3><%= link.Title %></h3>
                <h2 class="price"><%= link.Price.Currency %><%= link.Price.Value %></h2>
                <a target="_blank" href="<%= link.URL %>" class="buy">Buy Now</a>
            </div>
        </div>
        <% }) %>
    </div>
    <footer>
        <div class="content">
            <div class="media-icons">
               <% if(user.instagram) { %>
                <a target="_blank" href="https://www.instagram.com/<%= user.instagram %>">
                    <i class="fa fa-instagram"></i>
                </a>
                <% } %> 
                <%//if(user.tiktok){ %>
                <a target="_blank" href="https://www.tiktok.com/@$<%= user.tiktok %>"">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <% //} %>
            </div>
        </div>
    </footer>
</body>
</html>